{
  "name": "hm-addon-##name##",
  "version": "0.0.1",
  "description": "##name##, hexamaps addon",
  "main": "index.js",
  "scripts": {
    "run": "hexamaps-cli run"
  },
  "author": "",
  "license": "GPL-3.0-only",
  "dependencies": {
    "vue": "^2.6.8",
    "hexamaps": "^0.5.4"
  },
  "devDependencies": {
    "@vue/cli-service": "^3.0.1",
    "vue-template-compiler": "^2.5.17"
  }
}
